@font-face {
  font-family: "Open Sans";
  src: url("./opensans.woff") format("woff");
}
body {
  overflow-x: hidden;
}

.input-range-container {
}

/* In the case of the double slider, each individual slider has it's width set to 100% of the parent element. Therefore, in order to set a fixed width, it is recommended to set it on the parent element and not override the width of the range slider. This is to ensure the flexibility of the component. */
.input-range-container,
.input-range {
  width: 100%;
  height: 20px;
}

.input-range,
.input-range:hover,
.input-range:focus {
  box-shadow: none;
}

.input-range {
  -webkit-appearance: none;
  background-color: transparent;
  padding: 0;
  overflow: visible;
  pointer-events: none;
  height: 20px;
  border: 0;
}

.input-range::-moz-focus-outer {
  border: 0;
}

.input-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border: none;
  background-color: white;
  box-shadow: 0 0 0 2px rgba(33, 34, 36, 0.07);
  cursor: pointer;
  pointer-events: all;
  z-index: 2;
  position: relative;
}

.input-range::-moz-range-track {
  background: transparent;
}

.input-range::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border: none;
  background-color: white;
  box-shadow: 0 0 0 2px rgba(33, 34, 36, 0.07);
  cursor: pointer;
  pointer-events: all;
  z-index: 2;
  position: relative;
  transform: scale(1);
}

.input-range::-ms-track {
  background-color: transparent;
  border-color: transparent;
  color: transparent;
}

.input-range::-ms-fill-lower {
  background-color: transparent;
}

.input-range::-ms-thumb {
  height: 20px;
  width: 20px;
  border: none;
  background-color: white;
  box-shadow: 0 0 0 2px rgba(33, 34, 36, 0.07);
  cursor: pointer;
  pointer-events: all;
  z-index: 2;
  position: relative;
}

.input-range:disabled,
.input-range:disabled:hover {
  cursor: not-allowed;
  box-shadow: none;
  border: 0;
  background-color: transparent;
}

.input-range:disabled::-webkit-slider-thumb,
.input-range:disabled:hover::-webkit-slider-thumb {
  cursor: not-allowed;
}

.input-range:disabled::-moz-range-thumb,
.input-range:disabled:hover::-moz-range-thumb {
  cursor: not-allowed;
}

.input-range:disabled::-ms-thumb,
.input-range:disabled:hover::-ms-thumb {
  cursor: not-allowed;
}

.input-range:disabled ~ .input-range__track,
.input-range:disabled:hover ~ .input-range__track {
  cursor: not-allowed;
  background-color: rgb(42, 43, 44);
}

.input-range:disabled ~ .input-range__progress,
.input-range:disabled:hover ~ .input-range__progress {
  cursor: not-allowed;
  background-color: #dcdee1;
}

.slider-thumb {
  height: 20px;
  width: 20px;
  border: none;
  background-color: white;
  box-shadow: 0 0 0 2px rgba(33, 34, 36, 0.07);
  cursor: pointer;
  pointer-events: all;
  z-index: 2;
  position: relative;
  z-index: 2;
}

.slider-thumb--first {
  margin-left: -16px;
}

.slider-thumb--second {
  margin-left: -20px;
}

.input-range--first {
  position: absolute;
}

.input-range--second {
  position: relative;
}

.input-range__track,
.input-range__progress {
  position: absolute;
  height: 100%;
  z-index: 0;
}

.input-range__track:hover,
.input-range__progress:hover {
  cursor: pointer;
}

.input-range__track {
  background-color: rgb(22, 23, 23);
  left: 0;
  right: 0;
}

.input-range__track:hover {
  cursor: pointer;
}

.input-range__progress {
  background-color: rgb(51, 51, 51);
  border-right: 7px solid rgba(0, 0, 0, 0);
  transition: border-color 0.2s linear;
}

.input-range__progress:hover {
  border-right: 7px solid rgb(99, 97, 97);
}

.input-range-labels-container {
  display: none;
  justify-content: space-between;
}

.input-range-label {
  font-weight: bold;
}

.input-range-label--current-value {
  color: rgb(51, 51, 51);
  text-align: center;
  flex: 2;
}

.input-range-label:first-child {
  text-align: left;
}

.input-range-label:last-child {
  text-align: right;
}

.markdown h1,
h2 {
  font-family: "Open Sans", sans-serif;
}

.markdown h1 {
  font-weight: 300;
  font-size: 2.7em;
}

.markdown p {
  padding: 0;
  margin: 0;
}

.markdown h2 {
  font-size: 1.5em;
  padding-bottom: 15px;
  border-bottom: 2px solid #f6f6f6;
}

.markdown h3 {
  font-weight: 300;
  font-size: 1.3em;
  color: #666;
  margin-bottom: 0;
}

.markdown a {
  text-decoration: none;
  color: #12b2e7;
}

.markdown a:hover {
  color: #337ab7;
}

.markdown pre {
  background-color: #f5f5f5;
  padding: 12px;
  border: 1px dashed #ccc;
  border-radius: 4px;
  font-size: 0.9em;
  line-height: 10px;
  color: #2b2f30;
}

.markdown p > code {
  background-color: #f5f5f5;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.9em;
}

.markdown p > code:hover {
  border: 1px solid #12b2e7;
  border-radius: 4px;
  color: #12b2e7;
}

.markdown li > code {
  background-color: #f5f5f5;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.9em;
}

.markdown li > code:hover {
  border: 1px solid #12b2e7;
  border-radius: 4px;
  color: #12b2e7;
}
.scale svg {
  width: 100%;
  height: auto;
}
.card-parent:hover > .card {
  opacity: 1;
  transition: opacity 0.3s;
}
.card {
  opacity: 0;
  position: absolute !important;
  transition: opacity 0.3s;
  cursor: pointer;
}
.song-card-parent:hover .song-play {
  opacity: 1;
  transition: opacity 0.3;
  position: absolute !important;
}
.song-card-parent:hover .song-icons {
  opacity: 1;
  transition: opacity 0.3;
  position: absolute !important;
}
.song-card-parent:hover .hide-onhover {
  opacity: 0;
}
.song-play {
  opacity: 0;
  position: absolute !important;
  transition: opacity 0.3s;
  cursor: pointer;
}
.song-icons {
  opacity: 0;
  position: absolute !important;
  cursor: pointer;
}
.image-gradient {
  position: absolute !important;
}
.image-gradient > div > img {
  -webkit-mask-image: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0) 10%,
    rgba(9, 9, 121, 1) 130%
  ) !important;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  ) !important;
}
.video-modal {
  z-index: 3;
  width: 100vw;
  height: 100vh;
  position: absolute !important;
  background-color: #000000b4;
}
.video-modal-body {
  position: relative !important;
  top: 10%;
  margin: 0 auto !important;
  box-shadow: 2px 2px 10px #000000;
  animation: popup 0.7s;
}

@keyframes popup {
  0% {
    transform: scale(5) rotate(0);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  50% {
    transform: scale(1) rotate(-0.2deg);
    opacity: 1;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0.5);
  }
  75% {
    transform: scale(1) rotate(0.2deg);
    opacity: 1;
    box-shadow: 0 0 250px rgba(241, 241, 241, 0.5);
  }
  100% {
    transform: scale(1) rotate(0);
    opacity: 1;
    box-shadow: 2px 2px 10px #000000;
  }
}
